<div *ngIf="ISuser">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <div class="box box1"></div>
  <div class="box box2"></div>
  <div class="container relative">
    <div id="main">
      <div id="form-info">
        <h1 id="title" class="text-center">Information</h1>
        <div class="position-relative">
          <div class="position-absolute top-100 start-50 translate-middle">
            <div class="pad">
              <form #OffreForm="ngForm" (ngSubmit)="UpdateOffre(OffreForm.value)">
                <div class=" mb-3">
                  <input type="text" class="form-control" [(ngModel)]="ArrayOffre.Username" disabled placeholder="Username"
                    id="exampleInputEmail1" name="Username" #Username="ngModel" ngModel>
                </div>
                <div class=" mb-3">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" disabled
                    aria-describedby="emailHelp" [(ngModel)]="ArrayOffre.Numero" name="Numero" #Numero="ngModel"
                    ngModel>
                </div>
                <div class=" mb-3">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre" disabled
                    aria-describedby="emailHelp" [(ngModel)]="ArrayOffre.TitreOffre" name="TitreOffre"
                    #TitreOffre="ngModel" ngModel>
                </div>
                <div class="mb-3">
                  <textarea  type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" disabled
                    [(ngModel)]="ArrayOffre.Description" name="Description" #Description="ngModel" ngModel></textarea>
                </div>

                <div class="mb-3">
                    <img src={{ArrayOffre.Image}} alt="Error"  srcset="">
                </div>
                <div class="position-relative">
                  <div class="position-absolute top-100 start-50 translate-middle">
                    <div class="b1">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>